[package]
name = "remotemob"
version = "0.1.7-alpha.0"
authors = ["Paul Diaconescu <p@afajl.com>"]
license = "MIT OR Apache-2.0"
edition = "2018"
categories = ["command-line-utilities"]
keywords = ["cli"]
homepage = "https://github.com/afajl/mob"
readme = "README.md"
description = """
Console tool for streamlining remote mobbing: timer, git sync, breaks and lunch
"""

[[bin]]
name = "mob"
path = "src/main.rs"

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
clap = { version = "3.0.0-beta.4" }
serde = { version = "1.0", features = ["derive"] }
confy = "0.4.0"
serde_yaml = "0.8"
serde_json = "1.0"
tempfile = "3.2"
log = "0.4"
anyhow = "1.0"
thiserror = "1.0"
env_logger = "0.9"
dialoguer = "0.8"
console = "0.14"
git2 = "0.13"
whoami = "1.1"
directories = "3.0"
